<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>sso-server</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] [%X{ip},%X{traceId},%X{appName}] %yellow(%-5level) %magenta(%-15logger{15}) Line:%-3L - %msg %n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>